.site-navigation {
  height: 65px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  color: $text-color;
  position: fixed;
  top: 0;
  z-index: 100;

  .ion-ios-menu {
    font-size: 36px;
    width: 65px;
    align-items: center;
    cursor: pointer;
    display: none;
  }

  .menu-content-container {
    display: flex;
    align-items: center;
    margin-right: 30px;

    .menu-avatar-container {
      display: flex;
      align-items: center;

      .ant-avatar {
        background-color: $background;
        border: 2px solid $border;
      }

      .menu-avatar-name {
        font-size: 18px;
        margin-left: 15px;
      }
    }
  }

  .menu-title {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 20px 0 50px;

    a {
      text-decoration: none;
      padding: 0 20px;
      color: $text-color;

      &:hover {
        color: $text-link;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .site-navigation {
    .menu-content-container {
      width: 300px;
      height: calc(100% - 65px);
      background: #fff;
      position: fixed;
      top: 65px;
      left: -300px;
      transition: 300ms ease left;
      flex-direction: column-reverse;
      padding: 0;
      padding-left: 30px;

      a {
        width: 100%;
        padding: 0;
      }

      li {
        height: 65px;
        display: flex;
        align-items: center;
      }

      ul {
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        padding-top: 20px;
      }

      ul,
      li,
      .menu-avatar-container {
        display: flex;
        align-items: center;
        width: 100%;
      }

      .menu-content-container {
        padding-top: 20px;
      }

      &.active {
        left: 0px;
      }
    }

    .ion-ios-menu {
      display: flex;
    }
  }
}
